<%- include("partials/header"); -%>

<h1>Home</h1>

<p> <%= StartingContent %> </p>

<% posts.forEach(function(post){ %>
    <% console.log(post.Title); %>
<% }) %>

<%- include("partials/footer"); -%>